*.log
*.aux
*.dvi
*.lof
*.lot
*.bit
*.idx
*.glo
*.bbl
*.bcf
*.ilg
*.toc
*.ind
*.out
*.blg
*.fdb_latexmk
*.fls
*.run.xml
*.acn
*.glsdefs
*.ist
*.nlo
*.synctex.gz
*.alg
*.auxlock

# Other auxiliary files
*.nls
*.acr

# Outputs

*.dpth
*.md5
/outputs/*.pdf
